body{
    display:flex;
    flex-direction: column;
}
div{
    border: 2px solid red;
    height: auto;
}
#first{
    background-color: #1F2937;
}
#second{
    background-color: white;
}
#third{
    background-color: #E5E7EB;
}
#fourth{
    background-color: white;
}